<!-- template mis_actividades.html-->
<!DOCTYPE>
<html>
    {% extends 'base.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
{% load crispy_forms_tags %}
    {% block title %} Coolegas - Perfil {% endblock %}
{% block content %}

    <body class="">
    <div class="lg:grid grid-cols-2 gap-4 mx-4">
        <div class="">
            <h2 class="mt-24 text-3xl mb-5 text-green-600">Crea una Actividad</h2>
            <div class="dark:text-white sm:text-left">
                <form method="POST" class="form">
                    {% csrf_token %}
                    <label class="block text-gray-700 text-sm font-bold mb-2">Participantes*</label>
                    {{ form.participantes }}
                    {{ form.nombre | as_crispy_field }}
                    {{ form.lugar | as_crispy_field }}
                    <div class="lg:grid grid-cols-2 gap-4">
                        <div>{{ form.fecha | as_crispy_field}}</div>
                        <div>{{ form.duracion | as_crispy_field }}</div>
                    </div>
                    <button type="submit"
                        class="px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300
                        dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                        Guardar<button>
                </form>
            </div>
        </div>
        <div>
        <h2 class="mt-24 text-3xl mb-5 text-green-600">Tus Actividades</h2>
        <div class="2xl:grid grid-cols-2 gap-4 ">
            {% for actividad in lista_actividades %}
                <div>
                    <img src="https://www.nps.gov/bisc/planyourvisit/images/IMG_2011_03_26_11_38_51_0334.jpg?maxwidth=650&autorotate=false&quality=78&format=webp"
                    class="w-full 2xl:max-w-lg border-solid border-2 border-green-500 ">
                    <div class="md:float-left lg:mx-5 dark:text-white xl:max-w-lg ">
                        <strong>Actividad: </strong>{{ actividad.nombre }}
                        <br/>
                        <strong>Participantes:<br/> </strong>
                        {% for i in actividad.participantes.all %}
                                {{ i.first_name}} {{ i.last_name }}<br/>
                        {% endfor %}

                        <strong>Lugar: </strong>{{ actividad.lugar }}
                        <br/>
                    </div>
                    <div class="md:float-left lg:mx-5 dark:text-white xl:max-w-lg">
                        <strong>Dia: </strong>{{ actividad.fecha.date }}
                        <br/>
                        <strong>Hora: </strong>{{ actividad.fecha.time }}
                        <br/>
                        <strong>Duracion: </strong>{{ actividad.duracion }} horas
                        <br/>
                        <a href="{% url 'edit_act' actividad.id %}">
                        <button type="submit"
                        class="px-3 align-bottom py-2 mb-4 text-sm font-medium text-center text-white bg-orange-700 rounded-lg hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300
                        dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-green-orange"
                        >Editar {{ actividad.nombre }}<button></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </body>

<script src="https://cdn.tailwindcss.com"></script>
{% endblock content %}

</html>
